:root {
  --clr-white: #ffffff;
  --clr-mist: #fbf1f2;
  --clr-cloud: #f2f8fc;
  --clr-river: #98c5c9;
  --clr-pine: #1d3f47;
  --clr-pine-deep: #152b2f;
  --clr-dark: #060c0d;
  --clr-black: #000000;
  --clr-golden: #d78c02;
  --clr-golden-light: #e4af56;

  --font-dramatic: "Permanent Marker", cursive;
  --font-regular: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs-splash: 3.5rem;
  --fs-bigbutton: 3rem;
  --fs-h1: 2.25rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

* {
  color-scheme: light;
}

body {
  background-color: var(--clr-cloud);
}

main {
  max-width: 100vw;
  min-height: 100vh;
}


/*TITLE*/

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.continue-shopping {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 250px;
  padding: 24px 24px 0px;
  z-index: 0;
}

.underline {
  min-width: 250px;
  background-color: var(--clr-river);
  border-radius: 50px;
  height: 4px;
  
}

a {
  text-decoration: none;
}

.back {
  font-size: var(--fs-h3);
  font-family: var(--font-dramatic);
  color: var(--clr-dark);
  text-decoration: none;
  padding: 0px;
  
}

.fa-arrow-left {
  font-size: 24px;
  color: var(--clr-dark);
  padding-right: 8px;
}

.locked {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px 24px 0px;
}

#totes-secure {
  display: none;
}

.centered-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-logo {
  max-width: 250px;
}
h1 {
  font-size: var(--fs-h1);
  font-family: var(--font-regular);
  font-weight: var(--fw-medium);
  color: var(--clr-pine);
}

/*checkout sections*/

/* BOX 1*/

.checkout-container {
  width: 775px;
  height: min-content;
  background-color: var(--clr-mist);
  display: flex;
  flex-direction: column;
  margin: 44px auto;
  padding: 22px;
  border-radius: 25px;
  box-shadow: -2px 4px 2px #dadfe3;
}

h2 {
  font-size: var(--fs-h2);
  text-transform: uppercase;
  padding: 16px;
  padding-left: 36px;
  font-weight: var(--fw-reg);
}

h3 {
  font-size: var(--fs-body);
  font-weight: var(--fw-semi-bold);
}

#how-many-items {
  text-transform: none;
}

.thin-line {
  margin: auto;
  width: 735px;
  height: 2px;
  border-radius: 50px;
  background-color: var(--clr-dark);
}

.product-checkout {
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 16px;
}

#fleece-zip-checkout {
  height: 197px;
  padding-bottom: 52px;
}

#gift-card-checkout {
  height: 80px;
}

#gift-card-checkout img {
  border-radius: 8px;
}

.product-checkout-image {
  width: 161px;
  border: 1px var(--clr-black) solid;
  height: 100%;
}

.product-checkout-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
}

#items-subtotal {
  text-transform: none;
}

#gift-card-quantity,
#fleece-zip-quantity {
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  color: var(--clr-black);
  text-align: center;
  padding: 2px;
  max-width: 40px;
}

.product-checkout-cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  height: 100%;
}

.centered-text {
  text-align: center;
  margin: 22px 0;
}

.next {
  border: 5px solid var(--clr-golden);
  width: 88px;
  height: 42px;
  margin: 0 auto 44px;
  background-color: var(--clr-white);
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
}

.next a {
  text-decoration: none;
  color: var(--clr-black);
}

.next:hover {
  background-color: var(--clr-golden-light);
}

/* BOX 2*/

.small-width {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 42px auto;
}

.pick-country {
  display: flex;
  padding-bottom: 42px;
}

#country{
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  color: var(--clr-black);
  text-align: center;
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  padding: 2px;
}

#country option {
    text-decoration: none;
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    color: var(--clr-black);
    text-align: center;
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    padding: 2px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid var(--clr-black);
}

input[type="radio"] {
  display: none;
}

.radio-box {
  border: 1px solid var(--clr-black);
  width: 338px;
  height: 63px;
  padding: 0px 4px;
  background-color: var(--clr-white);
  margin-bottom: 18px;
}

.radio-box:hover {
  background-color: var(--clr-river);
  box-shadow: 1px 4px 6px lightgrey;
}

.radio-box label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.radio-box p {
  font-weight: var(--fw-medium);
}

.selected {
  background-color: var(--clr-river);
}

#country {
  height: 30px;
  width: 306px;
  border: 1px solid var(--clr-black);
  margin-left: 2px;
}

#flag {
  width: 30px;
}

/*BOX 3*/

.form-box {
  width: 691px;
  display: flex;
  flex-direction: column;
  margin: 22px auto;
}

.form-box input {
  margin-bottom: 22px;
  padding: 4px;
  height: 22px;
}

.city-and-postal {
  display: flex;
  margin: auto;
  width: 691px;
  gap: 22px;
}

.city-and-postal input {
  width: 325px;
}

input[type="checkbox"] {
  display: none;
}

.centered-checkbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/*BOX 4*/

.subtotal-box {
  display: flex;
  flex-direction: column;
}

.subtotal-box-bit {
  display: flex;
  width: 510px;
  justify-content: space-between;
  padding: 16px 0px;
  margin: auto;
}

.subtotal-box-shipping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px 0px;
}

.order-total {
  padding: 22px 0px 0px;
  justify-content: space-around;
}

.order-total h2 {
  padding: 0px;
}

.left-align-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 385px;
  gap: 12px;
}

.radio-box h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

.thick-line {
  margin: 0px auto 36px;
  width: 735px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--clr-dark);
}

.pay-now {
  width: 330px;
  height: 58px;
  border: 5px solid var(--clr-golden);
  margin: 36px auto 8px;
  background-color: var(--clr-white);
}

.pay-now:hover {
  background-color: var(--clr-golden-light);
}

.pay-now a {
  font-size: var(--fs-h2);
  color: var(--clr-black);
  font-weight: var(--fw-medium);
}

.small-letters {
  font-size: 12px;
  margin: auto;
  width: 330px;
  color: grey;
}

.last-container {
  margin-bottom: 100px;
}

/*FOOTER*/

.checkout-footer {
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkout-footer a {
  color: #98c5c9;
  font-size: 12px;
}


