:root {
  --clr-white: #ffffff;
  --clr-mist: #fbf1f2;
  --clr-cloud: #f2f8fc;
  --clr-river: #98c5c9;
  --clr-pine: #1d3f47;
  --clr-pine-deep: #152b2f;
  --clr-dark: #060c0d;
  --clr-black: #000000;
  --clr-golden: #d78c02;
  --clr-golden-light: hsl(39, 98%, 43%, 30%);
  --clr-button-background: hsl(0, 0%, 0%, 30%);

  --font-dramatic: "Permanent Marker", cursive;
  --font-regular: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs-splash: 3.5rem;
  --fs-bigbutton: 3rem;
  --fs-h1: 2.25rem;
  --fs-splash-mini: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

* {
  color-scheme: light;
}

.contact-us-bg {
  background: url(../images/contact-us-bg.png) no-repeat center
    fixed;
  background-size: cover;
  width: 100%;
  min-height: 670px;
  overflow: hidden;
  
}

.title-box {
  margin: 30px auto 30px;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--clr-dark);
  font-size: var(--fs-splash);
  padding-top: 56px;
}

.underline {
  width: 100%;
  padding: 0px 36px 0px;
  background-color: var(--clr-river);
  border-radius: 50px;
  height: 10px;
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  gap: 36px;
}

.contact-container {
  max-width: 1000px;
  min-height: 344px;
  background-color: var(--clr-mist);
  display: flex;
  flex-direction: column;
  margin: 44px 0px;
  padding: 22px;
  border-radius: 25px;
  box-shadow:-2px 4px 8px rgb(131, 128, 128);
}

.contact-info {
  width: 40%;
}

.send-message {
  width: 60%;
}

.find-store {
  margin: 0px auto 72px;
  width: 956px;
}

address{
    font-style: normal;
}

h2{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

section{
justify-content: space-around;
}