:root {
  --clr-white: #ffffff;
  --clr-white-light: rgba(255, 255, 255, 0.3);
  --clr-mist: #fbf1f2;
  --clr-cloud: #f2f8fc;
  --clr-river: #98c5c9;
  --clr-pine: #1d3f47;
  --clr-pine-deep: #152b2f;
  --clr-pine-light: hsl(191, 42%, 20%, 75%);
  --clr-dark: #060c0d;
  --clr-black: #000000;
  --clr-golden: #d78c02;
  --clr-golden-light: hsl(39, 98%, 43%, 30%);
  --clr-button-background: hsl(0, 0%, 0%, 30%);

  --font-dramatic: "Permanent Marker", cursive;
  --font-regular: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs-splash: 3.5rem;
  --fs-bigbutton: 3rem;
  --fs-h1: 2.25rem;
  --fs-splash-mini: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

main {
  background-color: var(--clr-cloud);
  width: 100%;
}

.title-box {
  margin: 56px auto 0px;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--clr-dark);
  font-size: var(--fs-splash);
  padding-top: 0px;
}

.underline {
  width: 100%;
  padding: 0px 36px 0px;
  background-color: var(--clr-river);
  border-radius: 50px;
  height: 10px;
}

.arrow-up-icon {
  height: 50px;
  z-index: 12;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

/*INDEX*/

.index {
  width: 66%;
  max-width: 650px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 56px auto;
}

.index a {
  background-color: var(--clr-mist);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  text-decoration: none;
  box-shadow: -1px 2px 4px #5f5f5f;
}

.line {
  width: 80%;
  max-width: 1200px;
  height: 2px;
  background-color: var(--clr-black);
  display: block;
  margin: 36px auto 120px;
  border-radius: 100px;
}

/*INFO*/

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 56px auto 36px;
  width: 80%;
  max-width: 650px;
  text-align: center;
}
p {
  font-size: var(--fs-body);
  margin: 0px auto;
  width: 80%;
  max-width: 650px;
  text-align: left;
  padding: 0px 0px 16px;
}

.size-chart {
  width: 80%;
  max-width: 650px;
  border: 2px var(--clr-mist) solid;
  border-radius: 25px;
  margin: 0px auto;
  display: block;
}

.last-p {
  margin-bottom: 120px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1375px) {
  .arrow-up-icon {
    right: 20%;
  }
}

@media screen and (max-width: 1175px) {
  .title-box {
    margin: 50px auto 30px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: var(--clr-dark);
    font-size: var(--fs-splash-mini);
    width: 206;
    padding-top: 0px;
  }

  .underline {
    width: 232px;
    padding: 0px 12px 0px;
    background-color: var(--clr-river);
    border-radius: 50px;
    height: 8px;
  }
}

@media screen and (max-width: 1175px) {
  h2 {
    font-size: var(--fs-h2);
  }

  .index {
    height: 360px;
  }

  .index a {
    height: 50px;
    display: flex;

    padding-left: 36px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-semi-bold);
  }
}

@media screen and (max-width: 900px) {
  .arrow-up-icon {
    height: 36px;
  }
}