:root {
  --clr-white: #ffffff;
  --clr-mist: #fbf1f2;
  --clr-cloud: #f2f8fc;
  --clr-river: #98c5c9;
  --clr-pine: #1d3f47;
  --clr-pine-deep: #152b2f;
  --clr-dark: #060c0d;
  --clr-black: #000000;
  --clr-golden: #d78c02;
  --clr-golden-light: hsl(39, 98%, 43%, 30%);
  --clr-button-background: hsl(0, 0%, 0%, 30%);

  --font-dramatic: "Permanent Marker", cursive;
  --font-regular: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs-splash: 3.5rem;
  --fs-bigbutton: 3rem;
  --fs-h1: 2.25rem;
  --fs-splash-mini: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

* {
  font-family: var(--font-regular);
  margin: 0;
  padding: 0;
  border: 0;
  color-scheme: dark;
}

body {
  min-width: 100vw;
}

p {
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

h1 {
  font-size: var(--fs-splash);
  font-family: var(--font-dramatic);
}

main {
  padding-top: 50px;
  min-width: 100%;
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 75px;
  width: 100%;
  background: linear-gradient(to top, var(--clr-pine-deep), var(--clr-pine));
  padding: 0px 36px 8px 0px;
  z-index: 2;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-items {
  order: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  padding: 0px 22px 8px 0px;
  flex: auto;
}

.menu-items li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: none;
  flex: auto;
}

.menu-items a {
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--clr-mist);
}

.logo {
  order: 1;
}

.home-link {
  max-height: 75px;
  padding: 0px 16px 0px 16px;
  flex: 161px;
}

.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 16px);
  height: 4px;
  background-color: var(--clr-golden);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-effect:hover::after {
  opacity: 1;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 65px;
  padding: 0px 24px 8px 0px;
  gap: 8px;
}

.icons img {
  height: 30px;
}

.icons img:hover {
  height: 32px;
  animation: ease 3ms;
}

/*HOME AND SUCCESSFUL CHECKOUTt*/

.home-splash {
  background: url(../images/home-splash.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 670px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.splash-logo {
  width: 360px;
  outline: var(--clr-pine-deep) 1px;
  margin-top: 75px;
}

.shop-jackets {
  width: auto;
  background-color: var(--clr-button-background);
  border: solid var(--clr-golden) 5px;
  padding: 8px 16px;
  margin-left: 60%;
  margin-bottom: 90px;
}

.shop-jackets:hover{
  background-color: var(--clr-golden-light);
}

.shop-jackets a {
  font-size: var(--fs-bigbutton);
  font-family: var(--font-dramatic);
  color: var(--clr-white);
  text-decoration: none;
}

.shop-jackets a:hover{
  color: var(--clr-white);
}

.successful-checkout-splash {
  background: url(../images/successful-checkout-splash-large.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 670px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.successful-checkout-splash h1 {
  margin-top: 100px;
  color: var(--clr-black);
  text-align: center;
}

.successful-checkout-splash p{
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-black);
  max-width: 750px;
  padding: 8px 16px 8px 16px;
  text-align: center;
}

.successful-checkout-splash p a {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black);
}

#order-tracking-number {
  font-weight: var(--fw-semi-bold);
  text-decoration: underline;
}

.continue-button {
  width: auto;
  background: none;
  border: solid var(--clr-golden) 5px;
  padding: 8px 16px;
  margin: 150px 0px 0px 60%;
}

.continue-button a {
  font-size: var(--fs-bigbutton);
  font-family: var(--font-dramatic);
  color: var(--clr-black);
  text-decoration: none;
}

.continue-button:hover{
  background-color: var(--clr-golden-light);
}



/*FOOTER*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: linear-gradient(to top, var(--clr-pine), var(--clr-pine-deep));
  color: var(--clr-mist);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav ul {
  list-style: none;
  padding: 12px 8px;
}

.footer-title {
  color: var(--clr-river);
}

.footer-nav li {
  padding: 8px;
}

.footer-nav li a {
  color: var(--clr-mist);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  text-decoration: none;
}

.footer-nav li a:hover {
  color: var(--clr-river);
}

.footer-other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.Social-Media {
  font-size: 35px;
  padding: 4px;
  color: var(--clr-mist);
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 254px;
}

#subscribe-mini {
  border-radius: 25px;
  height: 26px;
  background-color: var(--clr-mist);
  color: var(--clr-pine-deep);
  width: 254px;
}

#subscribe-mini::placeholder {
  text-decoration: none;
  font-style: normal;
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  color: var(--clr-pine-deep);
  text-align: start;
}

input[id="subscribe-mini"] {
  background-color: var(--clr-mist);
  color: var(--clr-pine-deep);
  text-align: left;
  padding-left: 8px;
}

h2 {
  font-weight: var(--fw-medium);
  font-size: var(--fs-h2);
}

/* MEDIA QUERIES */

/* medium+ */
@media screen and (max-width: 950px) {
  .shop-jackets a {
    font-size: var(--fs-splash-mini);
  }

  .continue-button a {
    font-size: var(--fs-splash-mini);
  }
}

/* medium */

@media screen and (max-width: 900px) {

  .navbar {
    opacity: 0.95;
  }

  header {
    height: 55px;
    padding: 0px 16px 0px 0px;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 16px;
    left: 116px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 25px;
    left: 116px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: var(--clr-mist);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .spacing-line {
    width: 216px;
    height: 2px;
    border-radius: 50px;
    background-color: var(--clr-black);
  }

  .navbar .menu-items {
    background: var(--clr-mist);
    height: 300px;
    width: 260px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: -52px;
    padding-left: 50px;
    padding-top: 55px;
    padding: 64px 0px 26px 50px;
    transition: transform 0.6s ease-in-out;
    box-shadow: 4px 6px 200px 8px var(--clr-dark);
  }

  .navbar .menu-items li {
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
    height: 30px;
    padding: 0px;
  }

  .hover-effect::after {
    position: hidden;
    height: 0px;
  }

  .navbar .menu-items li a {
    color: var(--clr-dark);
    font-weight: var(--fw-semi-bold);
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
    background-color: var(--clr-dark);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
    background-color: var(--clr-dark);
  }
  .logo {
    position: absolute;
    top: 18px;
    left: 4px;
    height: 36px;
  }
  .splash-logo {
    width: 315px;
    margin-top: 25px;
  }
}

/* small */

@media screen and (max-width: 700px) {
  .home-splash {
    background-image: url(../images/home-splash-mid.jpg);
    background-size: cover;
  }

  .shop-jackets {
    margin: auto;
    margin-bottom: 20%;
    width: auto;
  }

  .continue-button {
    margin: auto;
    margin-bottom: 10%;
    width: auto;
  }

  .continue-button a {
    color: var(--clr-white);
  }

  .successful-checkout-splash h1{
    font-size: var(--fs-splash-mini);
  }

  footer {
    flex-direction: column;
    min-height: 275px;
    padding: 12px;
    padding-bottom: 20px;
  }


  .footer-nav {
    padding: 2px;
    justify-content: space-between;
    max-width: 400px;
  }

  .footer-nav ul {
    padding: 4px;
  }

  .footer-nav ul li {
    padding: 4px;
  }

  .footer-other {
    flex-direction: row;
    padding: 16px 16px 16px 4px;
  }

  .Social-Media {
    font-size: 26px;
    padding: 2px;
  }

  .subscribe-footer h2 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
  }

  #subscribe-label {
    display: none;
  }
}

/* mini */

@media screen and (max-width: 590px) {
  .home-splash {
    background-image: url(../images/home-splash-mini.jpg);
    background-size: cover;
  }

  .icons {
    padding-right: 8px;
  }

  footer {
    padding-left: 8px;
    padding-right: 8px;
  }

  .footer-nav {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-nav:first-child {
    padding-left: 0px;
  }

  .footer-nav:last-child {
    padding-right: 0px;
  }

  .footer-other {
    padding-right: 0px;
  }

  .subscribe-footer {
    padding: 0px;
    width: 216px;
  }

  #subscribe-mini {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .Social-Media-container {
    width: 70px;
  }
}
